<!DOCTYPE html>
<html>
  <head>
    <title>Affair Prediction App</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <h1>Affair Prediction App</h1>
    <p >Enter the following values to generate a prediction:</p>
    <form action="/predict" method="POST">
      <label for="rate_marriage">Rate of Marriage:</label><br>
      <input type="number" id="rate_marriage" name="rate_marriage" step="0.01"><br>
      <label for="yrs_married">Years Married:</label><br>
      <input type="number" id="yrs_married" name="yrs_married" step="0.01"><br>
      <label for="children">Number of Children:</label><br>
      <input type="number" id="children" name="children" step="0.01"><br>
      <label for="religious">Religiousness:</label><br>
      <input type="number" id="religious" name="religious" step="0.01"><br>
      <label for="educ">Education Level:</label><br>
      <input type="number" id="educ" name="educ" step="0.01"><br>
      <label for="age">Age:</label><br>
      <input type="number" id="age" name="age" step="1"><br>
      <label for="occupation">Occupation:</label><br>
      <input type="number" id="occupation" name="occupation" step="1"><br>
      <label for="occupation_husb">Husband's Occupation:</label><br>
      <input type="number" id="occupation_husb" name="occupation_husb" step="1"><br><br>
      <input type="submit" value="Predict">
    </form>
  </body>
</html>
